@charset "utf-8";

// sass --no-source-map --watch app/mybulma/sass/style.scss:css/style.css
// sass --no-source-map --watch app/mybulma/sass:css

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$default-font-size: 16px;

// Set your brand colors
$white: #ffffff;
$grey-light: #dfe6e9;
$grey: #b2bec3;
$grey-dark: #636e72;

$black-light: #2d3436;
$black: #202833;
$black-dark: #090A0A;

$green-light: #55efc4;
$green: #00b894;
$cyan-light: #81ecec;
$cyan: #00cec9;
$blue-light: #74b9ff;
$blue: #0984e3;
$purle-light: #a29bfe;
$purple: #6c5ce7;
$yellow-light: #ffeaa7;
$yellow: #fdcb6e;
$orange-light: #fab1a0;
$orange: #e17055;
$red-light: #ff7675;
$red: #d63031;
$pink-light: #fd79a8;
$pink: #e84393;


$d-blue: #2E80A2;
$d-red: #E75664;
$d-cyan: #6EDCE5;
$d-orange: #FDB898;
$d-purple: #BDC2E4;


$primary: $black-light;
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $black;


// General colors
$scheme-invert: $white;
$scheme-invert-bis: $grey-light;
$scheme-invert-ter: $black-dark;
$scheme-main: $black;
$scheme-main-bis: $black-light;
$scheme-main-ter: $black-dark;

$background: $cyan;

$border: $cyan;
$border-hover: $cyan-light;
$border-light: $cyan-light;
$border-light-hover: $cyan-light;

// $body-background-color: $scheme-invert;

// Text colors
$text: $grey;
$text-light: $grey-light;
$text-strong: $grey-dark;

$has-text-white: $white;
$has-text-black: $black;
$has-text-light: $grey;
$has-text-dark: $black-dark;
$has-text-primary: $cyan;
$has-text-info: $blue;
$has-text-link: $cyan-light;
$has-text-success: $green;
$has-text-warning: $yellow;
$has-text-danger: $red;
$has-text-black-bis: $black-light;
$has-text-black-ter: $black-dark;
// $has-text-grey-darker: hsl(0, 0%, 21%);
$has-text-grey-dark: $grey-dark;
$has-text-grey: $grey;
$has-text-grey-light: $grey-light;
// $has-text-grey-lighter: hsl(0, 0%, 86%);
// $has-text-white-ter: hsl(0, 0%, 96%);
// $has-text-white-bis: hsl(0, 0%, 98%);

// Link colors
$link: $cyan;
$link-visited: $blue;

$link-hover: $grey;
$link-hover-border: $grey;

$link-focus: $cyan-light;
$link-focus-border: $cyan-light;

$link-active: $cyan-light;
$link-active-border: $cyan-light;

// Generic
$input-border-color: $black;
$control-border-width: 1px;

$body-font-size: $default-font-size;
// $button-background-color: $scheme-invert;
$button-color: $cyan;
// $button-hover-color: $cyan-light;



// $blue: #66FCF1;
// $turquoise: #46A29F;
// $black: #0B0C10;
// $black-light: #202833;
// $grey: #C5C6C8;
// $white: #ffffff;
// $primary: $black;

// Update some of Bulma's component variables
// $body-font-size: $default-font-size;
// $input-shadow: none;

@import "../bulma-0.8.0/bulma.sass";

/* 1. base */
html {
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    overflow-y: unset;
}


a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}

/* 2. Shared */
.job,
.button {
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 100ms;
}

.avatar-image,
.title,
.job,
.hr,
.description,
.contact,
.social li {
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 0.5, 0, 1);
    animation-fill-mode: both;
}

/* 3. Specific */
.container {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.header {
    position: absolute;
    top: 0;
}

.avatar {
    max-height: 20rem;
    max-width: 20rem;
}

.avatar-image {
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0, 0.5, 0.25, 1.25);
}

.title {
    font-size: 2.25rem;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.job {
    color: $yellow;
    font-size: 0.75rem;
}

.hr {
    background-color: $orange;
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 4rem;
}

.description {
    font-size: 1.5rem;
}

.contact {
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: top;
}

.button {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    font-size: 0.875rem;
    padding: 1.25em 2em;
    text-shadow: none;
    transition-property: box-shadow, transform;
    user-select: none;
    vertical-align: top;
    white-space: nowrap;
    will-change: box-shadow, transform;
}

.button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1) translateY(-4px);
}

.button:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.98) translateY(-2px);
}

.social {
    display: flex;
    margin-top: 1.5rem;
}

.social li {
    height: 2rem;
    margin-right: 0.5rem;
    text-align: center;
    width: 2rem;
}

.social a {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    height: 2rem;
    justify-content: center;
    opacity: 0.5;
    transition-property: opacity, transform;
    width: 2rem;
    will-change: opacity, transform;
}

.social a:hover {
    opacity: 1;
    transform: scale(1.25);
}

.social a:active {
    opacity: 1;
    transform: scale(1.1);
}

.social li {
    animation-duration: 500ms;
    animation-name: slideUp;
    animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1.5);
}

/* 4. Responsiveness */
@media screen and (max-width: 799px) {
    .container {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 5rem 3rem;
    }

    .avatar {
        margin-bottom: 3rem;
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 4rem;
    }

    .avatar {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-left: 4rem;
        order: 2;
        width: 20rem;
    }

    .about {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

/* 5. Animating */
.avatar-image {
    opacity: 0;
}

.contact {
    animation-name: bounceIn;
}

.image.is-loaded .avatar-image {
    animation-name: picImage;
}

.title {
    animation-name: slideDown;
}

.job {
    animation-name: slideUp;
}

.hr {
    animation-name: fillUp;
}

.description {
    animation-name: slideUp;
}

.title {
    animation-delay: 100ms;
}

.job {
    animation-delay: 200ms;
}

.hr {
    animation-delay: 300ms;
}

.description {
    animation-delay: 400ms;
}

.avatar-image {
    animation-delay: 500ms;
}

.contact {
    animation-delay: 600ms;
}

.social li:nth-child(1) {
    animation-delay: 800ms;
}

.social li:nth-child(2) {
    animation-delay: 900ms;
}

.social li:nth-child(3) {
    animation-delay: 1s;
}

.social li:nth-child(4) {
    animation-delay: 1.1s;
}

.social li:nth-child(5) {
    animation-delay: 1.2s;
}